{% extends "layout.html" %}
{% block body %}
<br>
<div class="row-fluid">
    <div class="span8">
    <table class="table">
            <thead>
                <tr>
                    <th colspan="2"><h3>Stats</h3></th>
                </tr>
            </thead>
            <tbody>
                {% for stat, value in stats.items() %}
                <tr>
                    <td>{{ stat }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
    <div class="span4">
        <div class="well">
            <h3>Last logs</h3>
                <ul id="logs"></ul>
        </div>
    </div>
</div>
{% endblock %}